body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  bottom: 200px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: fixed;
  top: 5px;
  left: 5px;
}

/* the above element shifts downward on scrolling (?) */

/* much less elegant but doesn't shift on scrolling

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: fixed;
  top: -257px;
  left: -1274px;
} */
